# Temporary files
*.swp
cscope.out
*-journal
*.log
*~
*.o
*.out
*.ko
*.o.cmd
*.ko.cmd
.tmp_versions/
Module.symvers
modules.order
*.mod.c

# CMake temporary files
*.cmake
CMakeFiles
CMakeCache.txt
Makefile

# Binaries
*.so
*.a
stress_value_test
get_test
array_test

# debian build files
debian/*~
debian/buildroot/
debian/zero-cache-dev
debian/zero-cache
debian/*.debhelper.log
debian/*.substvars
install_manifest.txt
*.1
bin/deb/
build-stamp
configure-stamp
debian/files
*.debhelper
