# Temporary files
*.swp
cscope.out
*-journal
*.log
*~

# CMake temporary files
*.cmake
CMakeFiles
CMakeCache.txt
Makefile

# Binaries
*.so
*.a
zero-cache
read_test
write_test
memory_leak_test
get_test
tcp_test
cross_test
key_test

# debian build files
debian/*~
debian/buildroot/
debian/zero-cache-dev
debian/*.debhelper.log
debian/*.substvars
install_manifest.txt
*.1
bin/deb/
build-stamp
configure-stamp
debian/files
*.debhelper
